@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("http://fonts.cdnfonts.com/css/rosellinda-alyamore");

@font-face {
  font-family: "rosellinda_alyamore";
  src: url("rosellinda_alyamore-webfont.eot");
  src: url("rosellinda_alyamore-webfont.eot?#iefix") format("embedded-opentype"), url("rosellinda_alyamore-webfont.woff2") format("woff2"), url("rosellinda_alyamore-webfont.woff") format("woff"),
    url("rosellinda_alyamore-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "rosellinda_alyamore";
  src: url("rosellinda_alyamore-webfont.eot");
  src: url("rosellinda_alyamore-webfont.eot?#iefix") format("embedded-opentype"), url("rosellinda_alyamore-webfont.woff2") format("woff2"), url("rosellinda_alyamore-webfont.woff") format("woff"),
    url("rosellinda_alyamore-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: black;
  font-weight: bold;
}

html,
body {
  width: 100%;
  height: 100%;
}

#top-logo {
  font-family: "rosellinda_alyamore";
  font-weight: lighter;
  font-size: 70px;
  text-align: center;
}

#bottom-logo {
  font-size: 14px;
  text-align: center;
}

.navbar-toggler {
  border: none;
}

.navbar {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

li {
  display: flex;
  justify-content: center;
}

a,
.col {
  padding: 0px !important;
}

a {
  font-size: 18px;
}

a.active::after {
  user-select: none;
  pointer-events: none;
  content: "";
  height: 3px;
  background: black;
  border-radius: 10px;
  display: block;
}

.mid-link {
  margin: 20px;
}

#underline {
  background: linear-gradient(currentColor 0 0) var(--p, 0) 100% / var(--d, 0) 2px no-repeat;
  transition: 0.2s, background-position 0s 0.2s;
}

#underline:hover {
  --d: 100%;
  --p: 100%;
}

@media (max-width: 992px) {
  .container-fluid {
    display: flex;
    justify-content: center !important;
    flex-direction: column;
  }
}

#imgMain {
  display: block;
  max-height: 700px;
  width: auto;
  margin: auto;
  z-index: 2;
}

#imgGalerie {
  width: 60%;
}

#clasaText {
  height: 50vh;
  font-size: 22px;
  font-weight: lighter;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.col {
  margin: 7px;
}

#oferte,
td {
  font-weight: lighter;
  color: white;
  font-size: 18px;
}

#oferte::first-line,
th {
  font-weight: bolder;
  color: white;
  font-size: 22px;
}

#oferte {
  margin-bottom: 150px !important;
}

#background-oferta {
  background-image: url(https://razvanmudura.github.io/Website-Oculus-Studio/images/oferte-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
}

#overlay-background-oferta {
  width: 100%;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}

hr {
  border-top: 3px solid white;
  background-color: white;
  opacity: 1;
  width: 40%;
  margin: auto;
  margin-top: 7px;
}

#hrContact {
  border-top: 3px solid black;
  background-color: black;
  opacity: 1;
  width: 100%;
  margin: auto;
  margin-top: 7px;
}

#btnOferta {
  width: 20%;
  text-align: center;
}

.col-md,
.container-fluid {
  padding: 0px !important;
}

.row {
  margin: 0 !important;
}
